[submodule "dlEngine/ThirdParty/spdlog"]
	path = dlEngine/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest
[submodule "dlEngine/ThirdParty/glfw3"]
	path = dlEngine/ThirdParty/glfw3
	url = https://github.com/glfw/glfw
